<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/estiloCarrito.css" />
    <link rel="stylesheet" href="css/estilos.css" />
    <link rel="stylesheet" href="css/normalize.css" />

    <title>Carrito de compras</title>
  </head>
  <style>
    a {
      text-decoration: none;
    }
  </style>

  <body>
    <header>
      <h1 id="titulo">Friki Art</h1>
      <nav>
        <ul type="none" id="listaNav">
          
          <li id="liBusquedaMobile"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li> 
          <br>
          <li class="lihorizontal" id="liInicio" ><a href="inicio"> Inicio </a></li>  
          <li class="lihorizontal" id="liTienda"><a href=""> Tienda </a></li>  
          <li id="liBusquedaEscritorio"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li>   
          <div id="separacionNav"></div>
          <li class="lihorizontal" id="iconoLogin">
            <a href="login"> <i class="fas fa-user-circle"></i> </a>
          </li>
          <li class="lihorizontal" id="iconoCarrito">
            <a href="carritoCompra"> <i class="fas fa-shopping-cart"></i> </a>
          </li>
          <li id="slogan"> <p>¡El que no compra es porque no tiene dinero!</p></li>
        </ul>
      </nav>
    </header>
    <main id="mainCarrito">
      <article>
        <img src="/images/Nier.jpeg" alt="Imagen de articulo" />
        <div id="listaElementosArticulo">
          <div class="nombre">Nombre del articulo</div>
          <div class="precio" id="precioIzq">$000.00</div>
          <br />
          <div>
            <i class="fas fa-plus-circle"></i>
            <input type="text" />
            <i class="fas fa-minus-circle"></i>
          </div>
          <br />
          <button class="boton">Remover</button>
          <br />
          <br />
          <br />
        </div>

        <div class="precio" id="precioDer">
          <br />
          <br />
          $000.00
        </div>
      </article>
      <article>
        <img src="/images/Nier.jpeg" alt="Imagen de articulo" />
        <div id="listaElementosArticulo">
          <div class="nombre">Nombre del articulo</div>
          <div class="precio" id="precioIzq">$000.00</div>
          <br />
          <div>
            <i class="fas fa-plus-circle"></i>
            <input type="text" />
            <i class="fas fa-minus-circle"></i>
          </div>
          <br />
          <button class="boton">Remover</button>
          <br />
          <br />
          <br />
        </div>
        <div class="precio" id="precioDer">
          <br />
          <br />
          $000.00
        </div>
      </article>
      <article id="articuloTotal">
        <div id="bloqueTotal">
          <strong id="total">Total: &nbsp &nbsp &nbsp &nbsp &nbsp </strong>
          <div class="precio" id="precioTotal">$000.00</div>
          <br>
          <br>
          <button class="boton">Realizar compra</button>
        </div>   
      </article>
    </main>

    <footer>
      <p>
        <strong>Acerca de nosotros:</strong> <br />
        Jorge Isidro Hernandez Ramirez <br />
        Salvador Mendoza Briseño
        <br />
        <br />
        <br />
      </p>
      <div></div>

      <div id="iconosH">
        <a href=""> <i class="fab fa-facebook-square"></i> </a>
        <a href=""> <i class="fab fa-twitter-square"></i> </a>
        <a href=""> <i class="fab fa-instagram-square"></i> </a>
      </div>

      <ul type="none" id="iconosV">
        <li>
          <a href=""> <i class="fab fa-facebook-square"></i> </a>
        </li>
        <li>
          <a href=""> <i class="fab fa-twitter-square"></i> </a>
        </li>
        <li>
          <a href=""> <i class="fab fa-instagram-square"></i> </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
