<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Pagina para hacer funcionar a los iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/estilos.css" />
    <link rel="stylesheet" href="css/detalleProducto.css">
    <link rel="stylesheet" href="css/normalize.css" />
    <title>Friki-Art</title>
  </head>

  <style>
    a {
      text-decoration: none;
    }
  </style>
  <body>
    <header>
      <h1 id="titulo">Friki Art</h1>
      <nav>
        <ul type="none" id="listaNav">
          
          <li id="liBusquedaMobile"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li> 
          <br>
          <li class="lihorizontal" id="liInicio" ><a href="inicio"> Inicio </a></li>  
          <li class="lihorizontal" id="liTienda"><a href=""> Tienda </a></li>  
          <li id="liBusquedaEscritorio"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li>   
          <div id="separacionNav"></div>
          <li class="lihorizontal" id="iconoLogin">
            <a href="login"> <i class="fas fa-user-circle"></i> </a>
          </li>
          <li class="lihorizontal" id="iconoCarrito">
            <a href="carritoCompra"> <i class="fas fa-shopping-cart"></i> </a>
          </li>
          <li id="slogan"> <p>¡El que no compra es porque no tiene dinero!</p></li>
        </ul>
      </nav>
    </header>
    <main >
      
      <div class="principalDiv">
        <img id="imgDetalle" src="/images/Nier.jpeg" alt="">
       
        <br>
          <div id="listaDescripcion">
            <br>
            <div class="nombre"> Nombre Articulo </div>
            <br>
            <div class="categoria">Categoria-Nombre Categoria </div>
            <br>
            <p class="descripcion"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, beatae repudiandae id quam quia quod repellat aspernatur. Dolores quasi quidem ducimus. Molestias suscipit voluptatem, sit vitae reiciendis minima explicabo ullam. 
            </p>
          </div>
          <br>
          <div id="listaBoton">
            <div class="precio"> $850 </div>
            <br>
            <button id="botonAñadir">Añadir al carrito</button>
          </div>
        </div>
    </main>
   
    <footer>
      <p>
        <strong>Acerca de nosotros:</strong> <br />
        Jorge Isidro Hernandez Ramirez <br />
        Salvador Mendoza Briseño
        <br>
        <br>
        <br>
      </p>
      <div></div>

      <div id="iconosH">
        <a href=""> <i class="fab fa-facebook-square"></i> </a>
        <a href=""> <i class="fab fa-twitter-square"></i> </a>
        <a href=""> <i class="fab fa-instagram-square"></i> </a>
      </div>

      <ul type="none" id="iconosV">
        <li>
          <a href=""> <i class="fab fa-facebook-square"></i> </a>
        </li>
        <li>
          <a href=""> <i class="fab fa-twitter-square"></i> </a>
        </li>
        <li>
          <a href=""> <i class="fab fa-instagram-square"></i> </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
