article {
    margin:30px;
    min-width: 420px
}

article * {
    display : block;
    margin-bottom: 10px;
}

article strong {
    font-size: 20px;
    text-align: center;
}

article div input {
    margin: auto;
    width: 330px;
    height: 30px;
}

article button {
    margin: auto;
    width: 100px
}

article a{
    margin-top: 5px;
    color: black
}
